<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    
    <h1><%= farm.name %> </h1>
    <h2>Add a Product</h2>
    <form action="/farms/<%= farm._id %>/products" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Product Name">
        <label for="price">Product Price (Unit)</label>
        <input type="number" name="price" id="price" placeholder="Product Price">
        <label for="category">Select Category</label>
        <select name="categories" id=" categories">
            <% for(let category of categories){ %>
                <option value="<%=category%>"><%=category%></option>                
            <% } %>
        </select>
        <button type="submit">Submit</button>
    </form>
    <a href="/farms/<%= farm._id %>">Back to Farm</a>

    <a href="/products">Cancel</a>



</body>
</html>